In [2]:
import numpy as np
import pandas as pd

In [3]:
data  = pd.read_csv("Football_dataset.csv")
df = pd.DataFrame(data)
data.head()

,Team,Tournament,Goals Scored,Shots pg,Yellow Cards,Red Cards,Shooting Accuracy,AerialsWon,Rating,Discipline,Own Fouls,Opponent Fouls
0,Manchester City,Premier League,83,15.8,46,2,89.4,12.8,7.01,48,1,1
1,Bayern Munich,Bundesliga,99,17.1,44,3,85.5,12.9,6.95,47,2,2
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,89.5,9.5,6.88,80,3,3
3,Barcelona,LaLiga,85,15.3,68,2,89.7,10.6,6.87,70,4,5
4,Real Madrid,LaLiga,67,14.4,57,2,87.7,11.8,6.86,59,5,6

In [7]:
#how many teams in touranment
number_of_team = df['Team'].nunique()
print(f"The number of teams participated in the tournament:{number_of_team}")

The number of teams participated in the tournament:29

In [13]:
# Sort the DataFrame based on Discipline_Score
sorted_df = df.sort_values(by="Discipline", ascending=False)

# Top 2 teams with high discipline
top_2_teams = sorted_df.head(2)

# Bottom 2 teams with low discipline
bottom_2_teams = sorted_df.tail(2)

# Display results
print("Top 2 Teams with High Discipline:")
print(top_2_teams)

print("\nBottom 2 Teams with Low Discipline:")
print(bottom_2_teams)

Top 2 Teams with High Discipline:
               Team Tournament  Goals Scored  Shots pg  Yellow Cards  \
9   Atletico Madrid     LaLiga            67      12.1           100
28             Roma    Serie A            68      14.3            84

    Red Cards  Shooting Accuracy  AerialsWon  Rating  Discipline  Own Fouls  \
9           0               83.1        14.4    6.84         100          2
28          3               84.5        12.1    6.71          87          5

    Opponent Fouls
9                5
28               6

Bottom 2 Teams with Low Discipline:
                 Team      Tournament  Goals Scored  Shots pg  Yellow Cards  \
8   Borussia Dortmund      Bundesliga            75      14.6            43
12          Liverpool  Premier League            68      16.0            40

    Red Cards  Shooting Accuracy  AerialsWon  Rating  Discipline  Own Fouls  \
8           1               85.5        12.8    6.84          44          1
12          0               85.7        14.3    6.82          40          5

    Opponent Fouls
8                3
12               1

In [11]:
top_teams = df.groupby("Team")["Discipline"].sum().nlargest(2)
print(f"Top two teams with highest discipline")
print(top_teams)

Top two teams with highest discipline
Team
Atletico Madrid    100
Roma                87
Name: Discipline, dtype: int64

In [17]:
bottom_team = df.groupby("Team")["Discipline"].sum().nsmallest(2)
print("Bottom Two Teams with lowest discipline")
print(bottom_team)

Bottom Two Teams with lowest discipline
Team
Liverpool            40
Borussia Dortmund    44
Name: Discipline, dtype: int64

In [20]:
count_yellow_as_per_team = data.groupby("Team")["Yellow Cards"].mean()
print(count_yellow_as_per_team)

Team
AC Milan                80.0
Aston Villa             63.0
Atalanta                66.0
Atletico Madrid        100.0
Barcelona               68.0
Bayer Leverkusen        58.0
Bayern Munich           44.0
Borussia Dortmund       43.0
Chelsea                 49.0
Eintracht Frankfurt     80.0
Everton                 59.0
Inter                   59.0
Juventus                76.0
Leeds                   61.0
Leicester               61.0
Lille                   67.0
Liverpool               40.0
Lyon                    60.0
Manchester City         46.0
Manchester United       64.0
Monaco                  74.0
Napoli                  71.0
Paris Saint-Germain     73.0
RB Leipzig              57.0
Real Madrid             57.0
Roma                    84.0
Tottenham               53.0
West Ham                48.0
Wolfsburg               56.0
Name: Yellow Cards, dtype: float64

In [21]:
overall_average_yellow = df['Yellow Cards'].mean()
print(overall_average_yellow)

62.6551724137931

In [43]:
team_goals = df[df["Goals Scored"]>5]
num_teams_more_5_goal = team_goals['Team'].nunique()
print(f"{num_teams_more_5_goal} teams scored more than 5 goals")
print(team_goals[["Team","Goals Scored"]].head(2))

29 teams scored more than 5 goals
              Team  Goals Scored
0  Manchester City            83
1    Bayern Munich            99

In [51]:
shooting_Accurancy = df.groupby("Team")["Shooting Accuracy"]
print(shooting_Accurancy)

Team
AC Milan               84.0
Aston Villa            78.6
Atalanta               83.5
Atletico Madrid        83.1
Barcelona              89.7
Bayer Leverkusen       84.4
Bayern Munich          85.5
Borussia Dortmund      85.5
Chelsea                87.0
Eintracht Frankfurt    79.6
Everton                81.4
Inter                  87.0
Juventus               88.3
Leeds                  80.8
Leicester              82.1
Lille                  83.5
Liverpool              85.7
Lyon                   84.7
Manchester City        89.4
Manchester United      84.8
Monaco                 82.7
Napoli                 87.0
Paris Saint-Germain    89.5
RB Leipzig             83.2
Real Madrid            87.7
Roma                   84.5
Tottenham              81.8
West Ham               77.8
Wolfsburg              78.0
Name: Shooting Accuracy, dtype: float64

In [63]:
most_Shooting Accuracy_team = df.nlargest(1,"Shooting Accuracy")
most_disciplined_team[["Shooting Accuracy","Team"]]

SyntaxError: invalid syntax (978305962.py, line 1)

In [3]:
highest_index = df['Shooting Accuracy'].idxmax()
most_Shooting_Accuracy_team = df.iloc[highest_index]
most_Shooting_Accuracy_team

Team                 Barcelona
Tournament              LaLiga
Goals Scored                85
Shots pg                  15.3
Yellow Cards                68
Red Cards                    2
Shooting Accuracy         89.7
AerialsWon                10.6
Rating                    6.87
Discipline                  70
Own Fouls                    4
Opponent Fouls               5
Name: 3, dtype: object

In [8]:
teams_more_fouls_than_opponents = df[df["Own Fouls"]>df["Opponent Fouls"]]
num_teams_more_fouls_than_opponents = teams_more_fouls_than_opponents["Team"].unique()
print(f"{num_teams_more_fouls_than_opponents} teams made more fouls than their opponents")
print(teams_more_fouls_than_opponents[["Team","Own Fouls","Opponent Fouls"]])

['Juventus' 'Aston Villa' 'Liverpool' 'AC Milan' 'Lille' 'Tottenham'
 'Wolfsburg' 'Inter' 'Lyon' 'RB Leipzig' 'Leeds' 'West Ham'] teams made more fouls than their opponents
           Team  Own Fouls  Opponent Fouls
6      Juventus          7               1
7   Aston Villa          8               2
12    Liverpool          5               1
13     AC Milan          6               2
14        Lille          7               3
15    Tottenham          8               5
18    Wolfsburg          3               1
19        Inter          4               2
20         Lyon          5               3
21   RB Leipzig          6               5
22        Leeds          7               6
23     West Ham          8               7