In [1]:
import pandas as pd
import sys
print(pd.__version__)
print(sys.version)

1.5.2
3.11.0 (main, Oct 24 2022, 18:26:48) [MSC v.1933 64 bit (AMD64)]

In [2]:
import pandas as pd


df = pd.DataFrame({
    'ID': [1, 2, 2, 3, 4, 4, 5],
    'Name': ['Alice', 'Bob', 'Bob', 'Charlie', 'David', 'David', 'Eve'],
    'Age': [25, 30, 30, 35, 40, 40, 45]
})

In [4]:
unique_df = df.drop_duplicates()
unique_df

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
3   3  Charlie   35
4   4    David   40
6   5      Eve   45

In [5]:
result = df.drop_duplicates(subset=["Name"])
print(result)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
3   3  Charlie   35
4   4    David   40
6   5      Eve   45

In [6]:
print("ðŸ”¹ Original DataFrame:")
print(df)

# Keep First (Default)
df_first = df.drop_duplicates(keep='first')

# Keep Last
df_last = df.drop_duplicates(keep='last')

# Remove All Duplicates
df_none = df.drop_duplicates(keep=False)

print("\nðŸ”¹ DataFrame After Dropping Duplicates (Keeping First Occurrence):")
print(df_first)

print("\nðŸ”¹ DataFrame After Dropping Duplicates (Keeping Last Occurrence):")
print(df_last)

print("\nðŸ”¹ DataFrame After Dropping Duplicates (Removing All Duplicates):")
print(df_none)

ðŸ”¹ Original DataFrame:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   2      Bob   30
3   3  Charlie   35
4   4    David   40
5   4    David   40
6   5      Eve   45

ðŸ”¹ DataFrame After Dropping Duplicates (Keeping First Occurrence):
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
3   3  Charlie   35
4   4    David   40
6   5      Eve   45

ðŸ”¹ DataFrame After Dropping Duplicates (Keeping Last Occurrence):
   ID     Name  Age
0   1    Alice   25
2   2      Bob   30
3   3  Charlie   35
5   4    David   40
6   5      Eve   45

ðŸ”¹ DataFrame After Dropping Duplicates (Removing All Duplicates):
   ID     Name  Age
0   1    Alice   25
3   3  Charlie   35
6   5      Eve   45

In [7]:
df.drop_duplicates(inplace=True)
print(df)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
3   3  Charlie   35
4   4    David   40
6   5      Eve   45